@charset "utf-8";
/* CSS Document */
.tableEdit{
	margin:5px;
}
.tableEdit th{
    width:100px;
	font-size: 13px;
	font-family: "微软雅黑","宋体";
	color: #565656;
    padding-right:10px;
    text-align:left;
}
.tableEdit tr{
	display:block;
	margin-bottom:6px;
}
.tableEdit td .inputPart{
	width:200px;
	height:26px;
	border:1px solid #dedede;
	padding:0 5px;
	font-size: 13px;
	font-family: "微软雅黑","宋体";
	color: #646464;
}
.tableEdit span{
	font-size: 13px;
	font-family: "微软雅黑","宋体";
}
.tableEdit lable{
	font-size: 13px;
	font-family: "微软雅黑","宋体";
}
.tableEdit .LabelImg{
	display:block;
	border:1px solid #dedede;
	padding:4px;
	margin-bottom:10px;
}
.MendEdit{
	margin:5px;

}








