<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Common.Properties.Settings>
            <setting name="Common_PostUserService_PostUser" serializeAs="String">
                <value>http://117.106.7.150/PostUser.asmx</value>
            </setting>
            <setting name="Common_SchoolUserService_UserPhoto" serializeAs="String">
                <value>http://117.106.7.150/SchoolUser.asmx</value>
            </setting>
            <setting name="Common_ADWebService_ADWebService" serializeAs="String">
                <value>http://117.106.7.150/ADWebService.asmx</value>
            </setting>
            <setting name="Common_DepartmentService_Department" serializeAs="String">
                <value>http://117.106.7.150/department.asmx</value>
            </setting>
        </Common.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
</configuration>