<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="UserCenterSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--数据库连接字符串  本地测试-->
    <add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=UserCenter_ZZ;User ID=sa;Password=yfb@123" providerName="System.Data.SqlClient"/>
    <!--数据库SystemStudent连接字符串  本地测试-->
    <add name="DefaultConnection2" connectionString="Data Source=.;Initial Catalog=SystemStudent;User ID=sa;Password=yfb@123" providerName="System.Data.SqlClient"/>
    <!--数据库连接字符串  客户服务器-->
    <!--<add name="DefaultConnection" connectionString="Data Source=192.168.0.136;Initial Catalog=UserCenter_ZZ;User ID=sa;Password=flyt@sa2015" providerName="System.Data.SqlClient"/>-->
    <!-- 超级管理员账号 -->
    <add name="AdminName" connectionString="admin"/>
    <add name="AdminViewName" connectionString="信息中心"/>
    <!-- 数据库名 -->
    <add name="DatabaseName" connectionString="UserCenter_ZZ"/>
    <!-- 自动生成身份证号的前缀 
    <add name="SFZJH_Prefix" connectionString="ZZ"/>-->
  </connectionStrings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!--<customErrors mode="On" defaultRedirect="index.html"/>-->
    <compilation debug="true" targetFramework="4.5"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" defaultUrl="~/"/>
    </authentication>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/"/>
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/"/>
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection"/>
      </providers>
    </sessionState>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246"/>
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246"/>
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.1.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <!-- 接口地址 -->
  <applicationSettings>
    <UserCenterSystem.Properties.Settings>
      <setting name="UserCenterSystem_Token_CertificationService" serializeAs="String">
        <value>http://192.168.137.100:8081/CertificationService.asmx</value>
      </setting>
      <setting name="UserCenterSystem_Student_UserPhoto" serializeAs="String">
        <value>http://192.168.137.100:8081/SchoolUser.asmx</value>
      </setting>
      <setting name="UserCenterSystem_ADWS_ADWebService" serializeAs="String">
        <value>http://192.168.137.100:8081/ADWebService.asmx</value>
      </setting>
      <setting name="UserCenterSystem_ADWS_ADWebService1" serializeAs="String">
        <value>http://192.168.137.100:8081/ADWebService.asmx</value>
      </setting>
    </UserCenterSystem.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="UserInfoSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.137.100:8081/UserInfo.asmx" binding="basicHttpBinding"
        bindingConfiguration="UserInfoSoap" contract="UserInfo.UserInfoSoap"
        name="UserInfoSoap" />
    </client>
  </system.serviceModel>
</configuration>