<?xml version="1.0" encoding="" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="UserPhotoSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.1.52/SchoolUser.asmx" binding="basicHttpBinding"
                bindingConfiguration="UserPhotoSoap" contract="SchoolUser.UserPhotoSoap"
                name="UserPhotoSoap" />
        </client>
    </system.serviceModel>
</configuration>